body {
    background-color: #363946;
}
.container_username{
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
}
.message_categ{
    width: 100%;
    margin: 10px 0;
    color: white;
    display: block;
    background-color: #616265;
    padding: 10px;
}
.message_categ p {
    display: inline-block;
    margin: 0;
}