body {
    background-color: #363946;
}
.hero_page{
    width: 100%;
    padding: 20px 50px;
}
.card_info {
    background-color: transparent;
    color: white;
    border-color: white;
    margin-top: 10px;
}
.image_minecraft{
    width: 100%;
    margin-top: 20px;
    filter: blur(8px);
    border-radius: 20px;
}
a{
    color: inherit;
    text-decoration: inherit;
}