body {
    background-color: #363946;
}
.profile_page{
    width: 100%;
    padding: 10px 0;
}
a{
    text-decoration: none;
    color: white;
}
.buttons_profile button{
    margin: 2px;
}
@media only screen and (max-width: 770px) {
    .buttons_profile button {
        width: 100%;
        display: block;
        margin-top: 5px;
    }
    .buttons_profile {
        width: 100%;
    }
}